DEV_MODE=true

# 异步数据库连接
DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/sniper_bot

# Redis 连接
REDIS_URL=redis://redis:6379/0

# JWT 认证密钥
SECRET_KEY=your-secret-key-for-jwt

# 日志级别
LOG_LEVEL=INFO

# 测试模式
TEST_MODE=True

# HTTP_PROXY=http://127.0.0.1:7897

###############################################
#       OKX-DEX-RPC 配置
###############################################
# OKX API Credentials
OKX_API_KEY=c84a2858-7554-47c8-9af0-638cd171d40e
OKX_SECRET_KEY=D19F357EE9A41E0C7956E05A6FE7B265
OKX_API_PASSPHRASE=1qazXSW@
OKX_PROJECT_ID=1a696f2ff619fe9812541e4d0e0781a1


# ETH Configuration
CHAINS__1__RPC_URL="https://eth-mainnet.g.alchemy.com/v2/Mg4hkV3Gee6RpIdPlnfRtcZNhCAmlnnQ"
# BNB Configuration
CHAINS__56__RPC_URL="https://bnb-mainnet.g.alchemy.com/v2/Mg4hkV3Gee6RpIdPlnfRtcZNhCAmlnnQ"
# Solana Configuration
CHAINS__501__RPC_URL="https://solana-mainnet.g.alchemy.com/v2/Mg4hkV3Gee6RpIdPlnfRtcZNhCAmlnnQ"

# EVM Configuration
BSC_RPC_URL=https://bnb-mainnet.g.alchemy.com/v2/Mg4hkV3Gee6RpIdPlnfRtcZNhCAmlnnQ
ETH_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/Mg4hkV3Gee6RpIdPlnfRtcZNhCAmlnnQ

# Solana Configuration
SOLANA_RPC_URL=https://solana-mainnet.g.alchemy.com/v2/Mg4hkV3Gee6RpIdPlnfRtcZNhCAmlnnQ
# SOLANA_RPC_URL=https://api.helius.xyz/v0?api-key=42281a6d-016a-4ce1-8695-a335d9f2d50b
SOLANA_WS_URL=wss://mainnet.helius-rpc.com/?api-key=42281a6d-016a-4ce1-8695-a335d9f2d50b

# Sui Configuration
# SUI_RPC_URL=your_sui_rpc_url



###############################################
#          N8N 配置
###############################################
POSTGRES_HOST=db.yaiginlcylosrbdcznvg.supabase.co
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Q2LRexkmXWRcD0Vq

ENCRYPTION_KEY=QyS7khEW8UOxbtuG7N895X913E2j8gdy

# WEBHOOK_URL=https://flow.trustcoin.com