DEV_MODE=false

# 异步数据库连接
DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/sniper_bot

# Redis 连接
REDIS_URL=redis://redis:6379/0

# JWT 认证密钥
SECRET_KEY=your-secret-key-for-jwt

# 日志级别
LOG_LEVEL=INFO

# 测试模式
TEST_MODE=false

# HTTP_PROXY=http://127.0.0.1:7897

###############################################
#       OKX-DEX-RPC 配置
###############################################
# OKX API Credentials
OKX_API_KEY=c84a2858-7554-47c8-9af0-638cd171d40e
OKX_SECRET_KEY=D19F357EE9A41E0C7956E05A6FE7B265
OKX_API_PASSPHRASE=1qazXSW@
OKX_PROJECT_ID=1a696f2ff619fe9812541e4d0e0781a1


# ETH Configuration
CHAINS__1__RPC_URL="https://eth-mainnet.g.alchemy.com/v2/Mg4hkV3Gee6RpIdPlnfRtcZNhCAmlnnQ"
# BNB Configuration
CHAINS__56__RPC_URL="https://bnb-mainnet.g.alchemy.com/v2/Mg4hkV3Gee6RpIdPlnfRtcZNhCAmlnnQ"
# Solana Configuration
CHAINS__501__RPC_URL="https://solana-mainnet.g.alchemy.com/v2/Mg4hkV3Gee6RpIdPlnfRtcZNhCAmlnnQ"


###############################################
#       Signal 配置
###############################################
SIGNAL_CHANNEL=signals:projects
SIGNAL_SUBSCRIBE_URL=wss://my.trustcoin.com/connection/websocket
SIGNAL_API_TOKEN_URL=https://xmsbatedys.masbate.xyz/get-subscription-token


###############################################
#       默认Admin用户配置
###############################################
# 默认admin用户名
DEFAULT_ADMIN_USERNAME=admin

# 默认admin邮箱
DEFAULT_ADMIN_EMAIL=admin@sniper-bot.com

# 默认admin密码
DEFAULT_ADMIN_PASSWORD=admin123456


###############################################
#     Server 端配置
###############################################

##########################
#  n8n 配置
##########################
POSTGRES_HOST=aws-0-ap-northeast-1.pooler.supabase.com
POSTGRES_PORT=6543
POSTGRES_DB=postgres
POSTGRES_USER=postgres.yaiginlcylosrbdcznvg
POSTGRES_PASSWORD=Q2LRexkmXWRcD0Vq

ENCRYPTION_KEY=QyS7khEW8UOxbtuG7N895X913E2j8gdy

WEBHOOK_URL=https://flow.trustcoin.com


# 发送信号需要
CENTRIFUGO_URL=http://centrifugo:8000
CENTRIFUGO_API_KEY=8FG6XnH7ePBevE_9WYY6EcCbfPXqGoNKcMTmM1gPVJ1Obq74CYHyNFTszz5luXFwfvuCd13EAg3H-TPpJsx3eQ

VERSION=0.0.8